<?xml version="1.0"?>

<launch>
    <arg name="names_file"          default="$(find darknet_zed)/../libdarknet/data/coco.names" />
    <arg name="cfg_file"            default="$(find darknet_zed)/../libdarknet/cfg/yolov3-tiny.cfg" />
    <arg name="weights_file"        default="$(find darknet_zed)/../yolov3-tiny.weights" />
    <arg name="camera_frame_id"        default="camera_link" />
    
    <node name="darknet_zed" pkg="darknet_zed" type="darknet_zed" output="screen">
        <param name="names_file"          value="$(arg names_file)" />
	<param name="cfg_file"            value="$(arg cfg_file)" />
	<param name="weights_file"        value="$(arg weights_file)" />
	<param name="camera_frame_id"     value="$(arg camera_frame_id)" />

    </node>

</launch>
